




body {
 background-color: black;
}

#gameBox{
  position: fixed;
  top: 8%;
  left: 10%;
  width: 80%;
  height:90%;
  background-image: url('https://i.ibb.co/hZmrKNT/castlenighticemaster.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  border-style: outset;
}

#menu{
  position: fixed;
  box-sizing: border-box;
  width: 20%;
  height:20%;
  left: 0%;
  bottom: 0%;
  padding: 5px;
  border-style: outset;
  background-color: grey;
  border-color: white;
  color: white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-align: left;
  
}

#menu2{
  position: fixed;
  bottom:2%;
  left: 75%;
  float: bottom right;
  width: 30%;
  padding: 5px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-align: left;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

td {
  position: relative;
  width: 10%;
  height: 10%;
  background-color:  #262626
;

}
table {
  width: 20%;
  height: 20%;
  top: 40%;
  margin: 5px auto;
  position: fixed;
}


img{
  top:-2%;
  left:1%;
  height: 100%;
  opacity: 0;
  width: auto;
  left: auto;
  position: absolute;
}


#mainMenu {
  box-sizing: border-box;
  width:30%;
  height:35%;
  position: fixed;
  background-color: grey;
  top: 50%;
  left: 40%;
  margin-top: -100px;
  margin-left: -100px;
  border-style: outset;
  font-family: 'Press Start 2P', cursive;
}


a:link, a:visited{
  text-decoration: none;
  color: black;
}

#ticTac{
  width: 400px;
  height: 400px;
  left: 39%;
  top: 30%;
  opacity: 0.9;
  position: fixed;

}

#fighterBox {
  position: absolute;
  bottom: 0%;
  left:35%;
  height: 25%;
  width: 30%;
}

#outCome {
  font-size: 300%;
  color: white;
  text-align: center;
  position: relative;
  top:10%;
  bottom: 0%;
  left:35%;
  height: 10%;
  width: 30%;


}
#fighters{
  position:relative;
  opacity: 1;
  bottom: 0%;
}

.playCSS{

}

#scoreX{
  color: red
}
#scoreO{
  color: blue
}

#turnMenu{
  font-size: 20px;
}

.button {
  border: none;
  width: 100%;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#reset{
  background-color: #404040;
  color: black;
}
#easy{
  background-color: #404040;
  color:#339933;
}
#medium{
  background-color: #404040;
  color:  #e67300;
}
#hard{
  background-color: #404040;
  color: #cc0000;
}

.timer {
  font-size: 30px;
/* background-color: #404040; */
color: yellow;
}

#statX{
  color: red;
}
#statO{
  color: blue;
}

button:hover, element:active{
  box-shadow: inset 0 0 10px white;
}

#nameBox{
font-size: 9px;
}

#timedBoard{
  color: blue;
}
