




body {
 background-color: black;
}

#gameBox{
  position: fixed;
  top: 8%;
  left: 10%;
  width: 80%;
  height:80%;
  background-image: url('file:///Users/sofoklisnimo/SEI/projects/tic-tac-toe/projectimages/castle%202/ezgif.com-gif-maker.gif');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  border-style: outset;
}

#menu{
position: absolute;
bottom:0;
/* box-sizing: border-box; */
float: bottom left;
width: 20%;
padding: 5px;
border-style: outset;
background-color: grey;
border-color: white;
color: white;
font-family: 'Press Start 2P', cursive;
text-align: left;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

td {
  width: 20%;
  height: 20%;
  background-color: white;

}
table {
  width: 300px;
  height: 300px;
  top: 40%;
  margin: 5px auto;
  position: relative;
}


.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

img{
height: 20%;
opacity: 0;
width: auto;
left: auto;
position: relative;
}


#mainMenu {
box-sizing: border-box;
width:300px;
height:300px;
position: fixed;
background-color: grey;
top: 50%;
left: 50%;
margin-top: -100px;
margin-left: -100px;
border-style: outset;
font-family: 'Press Start 2P', cursive;}
a:link, a:visited{
  text-decoration: none;
  color: black;
}
